<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :onkeyup => "countdownChars()" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
    <span class="countdown" id="countdownLabel">140 characters remaining</span>
  </div>
<% end %>